.container {
    width: 46rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 22.81rem;
    color: var(--blue);
    font-weight: 700;
    line-height: 1rem;
}

.container .counter {
    display: flex;
    gap: 8px;
    align-items: center;
}

.container .counter span {
    padding: 2px 8px;
    border-radius: 999px;
    color: var(--gray-100);
    background: var(--gray-400);
}

.container img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 5.5rem 21.25rem;
}

.container .text {
    width: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 11.5rem 1.5rem;
}

.container .text p:first-child {
    font-weight: 700;
    color: var(--gray-300)
}

.container .text p {
    font-weight: 400;
    color: var(--gray-300)
}